#square {
    background-color: gray; 
}

h1 {
    font-size: 20px;
    margin: 10px;
}

#container {
    display: grid;
    row-gap: 0px;
    column-gap: 0px;
    width: 200px;
    height: 200px;
    
}

#colored {
    background-color: black;
}



button {
    margin: 10px;
}